*{
  font-family: 'Exo', sans-serif;
  padding: 0;
  margin: 0;
}

.btn-nav{
  padding: 10px;
  width: 120px;
  border-radius: 50px;
}

.far{
  color:grey;
}

.image img{
  width: auto;
  height: 300px;
}
