* {
	font-family: 'Montserrat', sans-serif;
}

.card_kategori{
	border-radius: 40px;
	background-color: #CAF3FF;
	box-shadow: 13px 13px 20px #ffffff,
							 -13px -13px 20px #cbced1;
	margin-bottom: 50px;
	margin-top: 100px;
	font: Montserrat;
}

.jumbotron{
	background-image: url(image/banner.png);
	background-size: cover;
	background-position: 100% 100%;
}

.jumbotron .display-4{
	margin-top: 60px;
}

.col img{
	width: auto;
	height:280px;
}

@media only screen and (max-width: 600px) {
	.col img{
		width: auto;
		height:auto;
		left: 50%;
	}
}

.card img{
	opacity: 50%;
	background-color: #6ec7ea:
}

.card img:hover{
	opacity: 100%;
}

.d-flex button{
	border-radius: 100px;
}

.card .img-card-set{
	width: auto;
	height: 220px;
}

.info-contact{
	background-color: #96D5E4;
	padding: 32px;
}
