*{
  font-family: 'Exo', sans-serif;
  padding: 0;
  margin: 0;
}

html,body{
  /* min-height: 100%;
  width: 100%; */
  height: 100%;
}

h1{
    /* font-family: "Exo Black"; */
    text-transform: uppercase;
    letter-spacing: 5px;
}

.sukses{
  background-color: #f46170;
  font-style: italic;
}

main{
    top: -32px;
    position: relative;
    height: 100%;
    margin-bottom: 20px;
    background: url("../img/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 200px;
}

main svg{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10px;
}
main .row img{
    width: 60%;
    height: auto;
    margin-top: 100px;
}

main .row .col-md-6:last-child{
    color: white;
    margin-top: 150px;

}

main hr{
    width: 20%;
    height: 2px;
    background-color: #f9dc56;
}
main p{
    /* font-family: "Expressway"; */
    /* letter-spacing: 10px; */
    font-size: 15px;
}


.btn-group .btn1:hover{
background-color: #E14455;
}

.btn-group .btn2:hover{
background-color: #FEDC56;
}


/* ========================================== */

#error-message{
  border-radius:
}


#kol-1, #kol-2{
display: none;
}

.fotoProduk{
  margin-top: -300px; 
}

.fotoProduk .col-lg-3{
z-index: 10;
transition: 0.5s;
position: relative;
}

.fotoProduk button{
margin-top: 16px;
}

.fotoProduk .row .col-lg-3{
    transition: 0.2s ease-in-out;
}

.fotoProduk:hover .col-lg-3{
    transform: scale(0.95);
}

.fotoProduk .col-lg-3:hover{
  transform: scale(1.25);
  filter: blur(0px);
  z-index: 100;
}

/* ========================================== */

/* End of Jasa Desain Section */
/* ===================================== */
/* Carousel Section */


@media (max-width: 575.98px) {
    main{
        text-align: center;
        height: 80%;
    }
    main .row .col-md-6:last-child{
        margin-top: 0px;
    }

    h1{
        letter-spacing: 2px;
        font-size: 25px;
        text-align: center;
    }
    main hr{
        margin: 20px auto;
        width: 40%;

    }
    main p{
        margin-top: 10px;
        letter-spacing: 5px;
        font-size: 10px;
    }
    main .row img{
        width: 50%;
        height: auto;
        margin-top: 30px;
    }

    .fotoProduk .row{
      margin-bottom: 16px;
    }
    /* ========================================== */
}

@media (min-width: 576px) and (max-width: 767.98px) {
    main{
        text-align: center;
    }
    main .row .col-md-6:last-child{
        margin-top: 0px;
    }

    h1{
        letter-spacing: 2px;
        font-size: 25px;
        text-align: center;
    }
    main hr{
        margin: 10px auto;
        width: 40%;
    }

    main p{
        margin-top: 10px;
        letter-spacing: 5px;
        font-size: 10px;
    }
    main .row img{
        width: 40%;
        height: auto;
        margin-top: 30px;
    }

    .fotoProduk .row{
      margin-bottom: 16px;
    }
    /* ========================================== */
}
