*{
  font-family: 'Exo', sans-serif;
    padding: 0;
    margin: 0;
}

.btn-nav{
  padding: 10px;
  width: 120px;
  border-radius: 50px;
}

main{
    height: 100%;
}
main > .container-fluid,.row{
    height: 100%;
}

.col-md-3{
    background-color: #E14354;
    position: relative;
}

.col-md-9{
    background-color: #f1f1f1;
}
.col-md-9 > .content{
    width: calc(100%);
    height: 80%;
    padding: 50px 50px 0px 50px;
}


/* Bagian Kiri */
.col-md-3 img{
    cursor: pointer;
    width: auto;
    padding: 20px;
    height: 100px;
    background-color: #fff;
    clip-path: circle(50px at center);
}
a{
    display: block;
    color: white;
}
a:hover{
    text-decoration: none;
    color: #ffdbdb;
}
.link{
    position: relative;
    top: 23%;
}
.link p:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
p{
    color: white;
    padding: 5px;
    border-bottom: solid 1px #fff;
    text-transform: uppercase;
    transition: 0.2s;
}
.col-md-3 > button{
    display: block;
    position: absolute;
    bottom: 50px;
    left: 30%;
    /* right: 0; */
}
main .col-md-9 i{
  position: absolute;
  right: 0;
}

.content > i {
    display: none;
}

.content .fa-info-circle {
  position: relative;
  cursor: pointer;
  /* color: #E14354; */
}

#close{
    display: none;
}
#show{
    display: none;
}
.col-md-9{
    overflow: scroll;
}
.col-md-9 .content table tr td img{
    width: 50%;
    height: auto;
    margin: 10px auto;
}

.col-md-9 .content table tr td button{
    display: inline-block;
    width: 32%;
    font-size: 12px;
    height: auto;
    color: white;
}

tr{
  font-style: normal;
}

.content p{
  color: black;
}

.modal p{
  color: black;
  font-size: 12px;
}

.content button{
  /* padding: 10px 20px; */
  /* font-size: 14px; */
  border-radius: 10px;
  width:130px;    //Specify your width here
}

@media (max-width: 767.98px) {
    main .row .col-md-3{
        z-index: 1;
        display: block;
        position: absolute;
        height: 100vh;
        width: 50%;
        left: -500px;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }


    .col-md-9 .content table tr td img{
        width: 100%;
    }

    .col-md-9 .content table tr td button{
        width: 100%;
        font-size: 12px;
        height: auto;
    }
    .content > i {
        display: block;
        color: black;
        position: absolute;
        right: 50px;
    }

    .content > i:hover{
        cursor: pointer;
    }

    #close{
        display: none;
        transition: 0.2 ease-out;
    }
    #show{
        display: block;
        transition: 0.2 ease-in;
    }
}
@media (max-width: 575.98px) {
    main .row .col-md-3{
        width: 70%;
    }

    form{
        padding: 0px 20px;
    }
    .col-md-9 > .content{
        width: calc(100%);
        height: 80%;
        padding: 50px 10px 10px 10px;
    }

    .content > i {
        right: 10px;
    }

    .col-md-9 .content table tr td img{
        width: 100%;
    }

    .col-md-9 .content table tr td button{
        width: 100%;
        font-size: 12px;
        height: auto;
    }
}
@media (max-width: 991.98px) {

    .col-md-9 .content table tr td img{
        width: 100%;
    }
    .col-md-9 .content table tr td button{
        width: 100%;
        font-size: 12px;
        height: auto;
    }
}
