*{
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    /* min-height: 100%; */
}

main {
  background: url("../img/web_home2.webp");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 50px;
  position: relative;
}

.judul{
  position: absolute;
  display: block;
  width: 30%;
  top:25%;
  right: 60%;
}

.btn-nav{
  padding: 10px;
  width: 120px;
  border-radius: 50px;
}

.btn-psn{
margin-left: 0px;
margin-right: 10px;
}

    /* ==END HOME== */

.page2{
  background: url("../img/web_home3.webp");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.card-view{
  display: inline;
}

    /* ==END PORTOFOLIO== */

.page3{
  background: url("../img/web_home4.webp");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.page3 .heading{
  position: relative;
}
.page3 .produk{
  position: relative;
}
.page3 .produk1{
  position: relative;
}
.page3 .produk2{
  position: relative;
}
.page3 .produk3{
  position: relative;
}

    /* ==END FOTO PRODUK== */

.page4{
  background: url("../img/web_home5.webp");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.page4 .heading{
  position: relative;

}
.page4 .produk{
  position: relative;

}
.page4 .produk1{
  position: relative;

}
.page4 .produk2{
  position: relative;

}
.page4 .produk3{
  position: relative;

}
    /* ==END DESIGN PRODUK== */

/* .col .jasa-produk{
  color: #000;
  font-size: 20px;
} */

.card-group{
  height: 80%;
  width: 80%;
  margin-left: 200px;
  margin-top: 30px;
  justify-content: center;
}


.service img{
  width: 85%;
  height: 85%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


footer {
  text-align: center;
  padding: 0px;
  background-color: DarkSalmon;
  color: white;
}

/* ==MOBILE VERSION== */
@media (max-width: 575.98px){
  main{
    width: 100%;

  }
  main .container{
    position: absolute;
    left: 10px;
    right: 60%;
  }
  main .container .row .col p{
    text-align: justify;
    font-size: 12px;
  }
  main .container .row .col button{
    width: 100px;
  }
  main .container .row .col .pesan{
    position: absolute;
    left: 30px;
  }
  main .container .row .col .kontak{
    position: absolute;
    left: 170px;
  }

  .judul{
    top: 30%;
    right: 30%;
    width: 80%;
  }

  /* ==END Home== */

  .page2{
    width: 100%;
    height: 800px;
  }
  .page2 video{
    position: absolute;
    left: 15px;
    top: -40px;
    width: 300px;
    height: 300px;

  }
  .page2 .container .produk{
    position: absolute;
    top: 635px;
    left: 110px;
  }
  .page2 .heading{
    font-size: 16px;
  }
  .page2 .jasa-produk .card-group .card1{
    position: absolute;
    font-size: 8px;
    right: 260px;
    top: 280px;
    width: 100px;
    height: 100px;
  }
  .page2 .jasa-produk .card-group .card2{
    position: absolute;
    font-size: 8px;
    right: 150px;
    top: 280px;
    width: 100px;
    height: 100px;
  }
  .page2 .jasa-produk .card-group .card3{
    position: absolute;
    font-size: 8px;
    right: 40px;
    top: 280px;
    width: 100px;
    height: 100px;
  }
  .page2 .jasa-produk .card-group .card4{
    position: absolute;
    font-size: 8px;
    right: 260px;
    top: 440px;
    width: 100px;
    height: 100px;
  }
  .page2 .jasa-produk .card-group .card5{
    position: absolute;
    font-size: 8px;
    right: 150px;
    top: 440px;
    width: 100px;
    height: 100px;
  }
  .page2 .jasa-produk .card-group .card6{
    position: absolute;
    font-size: 8px;
    right: 40px;
    top: 440px;
    width: 100px;
    height: 100px;
  }

    /* ==END PORTOFOLIO== */

  .page3{
    width: 100%;
    height: 1400px;
  }
  .page3 .heading{
    position: relative;
    font-size: 22px;
  }
  .page3 .produk{
    position: relative;

  }
  .page3 .produk1 {
    position: relative;


  }
  .page3 .produk2{
    position: relative;

  }
  .page3 .produk3{
    position: relative;

  }

      /* ==END FOTO PRODUK== */

  .page4{
    width: 100%;
    height: 1400px;
  }
  .page4 .heading{
    position: relative;

    font-size: 22px;
  }
  .page4 .produk{
    position: relative;

  }
  .page4 .produk1{
    position: relative;

  }
  .page4 .produk2{
    position: relative;

  }
  .page4 .produk3{
    position: relative;

  }

      /* ==END DESIGN PRODUK== */

}
@media (min-width: 576px) and (max-width: 768px) {
  main{
    width: 100%;
    height: 800px;
  }
  main .container{
    position: relative;
  }
  main .container .row .col p{
    text-align: justify;

  }
  main .container .row .col button{
    width: 100px;
  }
  main .container .row .col .pesan{
    position: relative;
  }
  main .container .row .col .kontak{
    position: relative;
  }

  .judul{
    top: 30%;
    right: 15%;
    width: 50%;
  }


      /* ==END HOME== */

  .page2{
    width: 100%;
    height: 800px;
  }
  .page2 video{
    position: absolute;
    right: -330px;
    top: -40px;
    width: 500px;
    height: 300px;

  }
  .page2 .container .produk{
    position: absolute;
    top: 665px;
    right: 350px;
  }
  .page2 .heading{
    font-size: 16px;
  }
  .page2 .jasa-produk .card-group .card1{
    position: absolute;
    font-size: 8px;
    right: 400px;
    top: 280px;
    width: 150px;
    height: 150px;
  }
  .page2 .jasa-produk .card-group .card2{
    position: absolute;
    font-size: 8px;
    right: 200px;
    top: 280px;
    width: 150px;
    height: 150px;
  }
  .page2 .jasa-produk .card-group .card3{
    position: absolute;
    font-size: 8px;
    right: 20px;
    top: 280px;
    width: 150px;
    height: 150px;
  }
  .page2 .jasa-produk .card-group .card4{
    position: absolute;
    font-size: 8px;
    right: 400px;
    top: 440px;
    width: 150px;
    height: 150px;
  }
  .page2 .jasa-produk .card-group .card5{
    position: absolute;
    font-size: 8px;
    right: 200px;
    top: 440px;
    width: 150px;
    height: 150px;
  }
  .page2 .jasa-produk .card-group .card6{
    position: absolute;
    right: 20px;
    font-size: 8px;
    top: 440px;
    width: 150px;
    height: 150px;
  }

    /* ==END PORTOFOLIO== */

  .page3{
    width: 100%;
    height: 2000px;
  }
  .page3 .heading{
    position: relative;

  }
  .page3 .produk{
    position: relative;

  }
  .page3 .produk1 {
    position: relative;

  }
  .page3 .produk2{
    position: relative;
  }
  .page3 .produk3{
    position: relative;
  }

    /* ==END FOTO PRODUK== */

  .page4{
    width: 100%;
    height: 2000px;
  }
  .page4 .heading{
    position: relative;

  }
  .page4 .produk{
    position: relative;
  }
  .page4 .produk1{
    position: relative;

  }
  .page4 .produk2{
    position: relative;

  }
  .page4 .produk3{
    position: relative;

  }


      /* ==END DESIGN PRODUK== */

}
