*{
  font-family: 'Exo', sans-serif;
}
html,body{
    color:#F8F9FA;
    background-image: linear-gradient(235deg,#E14455, #E14455);
}

form{
    background-color: #b23943;
    padding: 30px;
    width: 50%;
    border-radius: 10px;
}

@media only screen and (max-width: 992px){

  form{
      background-color: #b23943;
      /* padding: 100px; */
      width: 80%;
      border-radius: 10px;
  }
}

@media only screen and (max-width: 768px){

  form{
      background-color: #b23943;
      /* padding: 100px; */
      width: 100%;
      border-radius: 10px;
  }
}
