@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer{
    text-align: center;
}
#menu-area .banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(235deg,#E14455, #172232 );
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#menu-area .banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}
#menu-area .banner .content{
    position: absolute;
    left: 7%;
    max-width: 500px;
    text-align: left;
}
#menu-area .banner .content h2{
    color: #fff;
    font-size: 60px;

}
#menu-area .banner .content p{
    color: #fff;
    font-size: 18px;
    
}


.button {
    position: absolute;
    border-radius: 20px;
    padding: 7px 16px;
    top: 98%;
    border: 2px solid #F99A00;
    background-color: #F99A00;
    color: #fff;
}
.button3{
    left: 5%;
}
.button4{
    left: 50%;
}

  
.more{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    top: 
}
.about{
    position: relative;
    width: 100%;
    display: flex;
}
.about .contentBx{
    background: #172232;
    padding: 100px;
    width: 100%;
}
.heading{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.text{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.services
{
    background: #E14455;
    padding: 100px;
    text-align: center;
}
.services .container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.services .container .serviceBx
{
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .container .serviceBx img{
    max-width: 100px;

}
.services .container a
{
    color: #fff;
    position: absolute;
    right: 200px;
    top: 2138px;
}

.jasaproduk{
    background-color: #C92C3D;
    padding: 50px;
    text-align: center;
}
.jasaproduk .container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.jasaproduk .produk .container .jasaPusat{
    position: relative;
    background: #fff;
    width: 450px;
    height: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jasaproduk .produk .container .jasaview1{
    position: absolute;
    right: 33%;
    top: 972px;
    background: #fff;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jasaproduk .produk .container .jasaview2{
    position: absolute;
    right: 9%;
    top: 972px;
    background: #fff;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jasaproduk .produk .container .jasaview3{
    position: absolute;
    right: 33%;
    top: 1238px;    
    background: #fff;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jasaproduk .produk .container .jasaview4{
    position: absolute;
    right: 9%;
    top: 1238px;      
    background: #fff;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jasaproduk .produk .container img{
    max-width: 100px;
}
.jasaproduk .produk .container .more{
    position: absolute;
    top: 1495px;
    right: 9%;
}

.jasadesign{
    background-color: #C92C3D;
    padding: 50px;
    text-align: center;
}
.jasadesign .container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.jasadesign .design .container .jasaview{
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jasadesign .design .container img{
    max-width: 100px;
}

.jasadesign .design .container .more{
    position: absolute;
    top: 2785px;
    right: 13%;
}

.jasalengkap{
    background-color: #E14455;
    padding: 50px;
    text-align: center;
}
.jasalengkap .lengkap .container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.jasalengkap .lengkap .container .jasaview{
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jasalengkap .lengkap .container img{
    max-width: 100px;
}

.jasalengkap .lengkap .container .Other{  
    color: #fff;
    position: absolute;
    top: 3383px;
    right: 13%;
}

@media screen and (max-width: 576px)
{
    #menu-area{
        width: 100%;
    }
    #menu-area .banner img{
        width: 100%;
    }
    #menu-area .banner .content h2{
        font-size: 18px;
    }
    #menu-area .banner .content p{
        font-size: 14px;
    }
    #menu-area .banner .content .button3{
        position: absolute;
        left: 0px;
    }
    .about{
        flex-direction: column;
    }
    .about .imgBx{
        width: 100%;
        padding: 50px;
        text-align: center;
    }
    .services{
        padding: 50px;
    }
    .services .container{
        justify-content: center;
        margin-top: 10px;
    }
    .services .container .serviceBx{
        margin: 10px;
    }
    .services .container a{
        position: absolute;
        top: 2845px;
        right: 78px;
        font-size: 11px;
    }
    
    .jasaproduk{
        padding: 50px;
        height: 800px;
    }
    .jasaproduk .produk .container{
        justify-content: center;
        margin-top: 10px;
    }
    .jasaproduk .produk .container .jasaPusat{
        position: relative;
        margin: 10px;
        width: 220px;
        height: 280px;
    }
    .jasaproduk .produk .container .jasaview1{
        position: absolute;
        top: 1170px;
        left: 75px;
        width: 100px;
        height: 130px;
    }
    .jasaproduk .produk .container .jasaview2{
        position: absolute;
        top: 1170px;
        right: 75px;
        width: 100px;
        height: 130px;
    }
    .jasaproduk .produk .container .jasaview3{
        position: absolute;
        top: 1320px;
        left: 75px;
        width: 100px;
        height: 130px;
    }
    .jasaproduk .produk .container .jasaview4{
        position: absolute;
        top: 1320px;
        right: 75px;
        width: 100px;
        height: 130px;
    }
    .jasaproduk .produk .container .more{
        position: absolute;
        top: 1460px;
        font-size: 10px;
    }
    .jasaproduk .produk .container img{
        max-width: 50px;
    }
    .jasaproduk .produk .container h2{
        font-size: 18px;
    }
    .jasadesign{
        padding: 50px;
    }
    .jasadesign .design .container{
        justify-content: center;
        margin-top: 10px;
    }
    .jasadesign .design .container .jasaview{
        margin: 10px;
    }
    .jasadesign .design .container .more{
        position: absolute;
        top: 4253px;
        font-size: 10px;
    }
    .jasalengkap{
        padding: 50px;
    }
    .jasalengkap .lengkap .container{
        justify-content: center;
        margin-top: 10px;
    }
    .jasalengkap .lengkap .container .jasaview{
        margin: 10px;
    }
    .jasalengkap .lengkap .container .Other{
        position: absolute;
        top: 5695px;
        font-size: 10px;
    }

}

